body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  /* border: 2px solid red; */
  border-bottom: 1px aqua solid;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* testing stickiness */
  position: sticky;
  top: 0px;

}

.nav-logo{
  text-align: center;
  width: 50%;
}

.nav-btns{
  width: 50%;
display: flex;
justify-content: space-evenly;
}

.btn{
  padding:5px ;
  background-color:aqua;
  font-weight: bolder;
  border: none;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
